<% @associated_texts.each do |text| %>
<div class="card-text-accordeon mdl-card mdl-shadow--2dp" style="padding: 10px 24px 10px 24px">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      Código do texto: <%= text.codigo_texto %>
    </h2>
    <%= link_to raw("<i class='material-icons right' style='padding: 2px;'>message</i>"), text,
        class: "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect",
        id: text.id,
        method: :get %>
    <div class="mdl-tooltip" data-mdl-for="<%=text.id%>">Ir para o texto</div>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <p>Palavras erradas:</p>
        <ul>
          <% @batale_definition.filtered_words(text.id).each do |word| %>
            <li><%= word.wrong %></li>
          <%end%>
        </ul>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <p>Palavras corretas:</p>
        <ul>
          <% @batale_definition.filtered_words(text.id).each do |word| %>
            <li><%= word.right %></li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
