<ul>
  <% @btp_bloc.excerpts.each do |e| %>
    <li>
      <p><strong>Trecho vindo de <%= e.text.code %>: </strong><%= e.excerpt %></p>
      <%= link_to "Texto Original", btp_text_path(e.text_id) %>
      <%#= link_to "Excluir trecho",
                deleteColorExcerpt_path,
                remote: true,
                method: :delete,
                data: { params: { bloc_id: @btp_bloc.id.to_s, excerpt_id: e.id.to_s }, confirm: 'Tem certeza?' } %>
      <%= link_to "Adicionar comentário", "javascript:comment_excerpt('#{e.id}')" %>
      <% if e.comments? %>
        <ul style="margin: 0px;">
          <% e.comments.each do |comment| %>
            <li>
              <p>
                &emsp;<strong>Comentário de <%= comment.user.full_name %>: </strong>
                <%= raw"<span id=comment-#{comment.id}> #{comment.comment}</span>" %>
                <%= comment_icons comment, comment.id %>
              </p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>
