<div class="form-center">
  <h3 align="center">Criar conta</h3>
  <div class="form-center mdl-card mdl-shadow--6dp" style="padding: 20px 24px 10px 24px">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :first_name, autofocus: true, class:"mdl-textfield__input", type:"text", id:"f_name"%>
        <label class="mdl-textfield__label" for="f_name"><%= f.label :Nome %></label>
      </div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :last_name, class:"mdl-textfield__input", type:"text", id:"l_name"%>
        <label class="mdl-textfield__label" for="l_name"><%= f.label :Sobrenome %></label>
      </div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.email_field :email, class:"mdl-textfield__input", type:"text", id:"mail"%>
        <label class="mdl-textfield__label" for="mail"><%= f.label :email %></label>
      </div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.password_field :password, autocomplete: "off", class:"mdl-textfield__input", id:"password"%>
        <label class="mdl-textfield__label" for="password"><%= f.label :senha %></label>
      </div>
      <% if @minimum_password_length %>
        <br> <em style="font-size: 10pt; color:#C0C0C0;"> número mínimo de caracteres: <%= @minimum_password_length %></em>
      <% end %>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"mdl-textfield__input", id:"current_password"%>
        <label class="mdl-textfield__label" for="current_password"><%= f.label :corfirmar_senha %></label>
      </div>
      <br>
      <div class="mdl-card__actions mdl-card--border" style="padding: 10px 0 0 0 ">
        <%= f.submit "Criar", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect", style:"margin: 5px 20px 0px 20px;" %>
      </div>
  </div>

  <% end %>
</div>
