<%= form_tag btp_blocs_path, remote: true, method: :get, id: 'search-form' do %>
  <div class='paper-material mdl-card mdl-shadow--2dp'>
    <div class='mdl-card__title'>
      <h2 class='mdl-card__title-text'>Busca</h2>
    </div>
    <div class='mdl-card__supporting-text'>
      <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label full_size'>
        <%= label_tag :excerpt_content, 'Busca por conteúdo dos trechos associados', class: 'mdl-textfield__label' %>
        <%= text_field_tag :excerpt_content, nil, class: 'mdl-textfield__input' %>
      </div>
      <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label full_size'>
        <%= label_tag :comment_content, 'Busca por comentários nos blocos', class: 'mdl-textfield__label' %>
        <%= text_field_tag :comment_content, nil, class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col">
          <%= label_tag :name, Btp::Bloc.human_attribute_name(:name) %>
          <%= select_tag :name, options_for_select(Btp::Bloc.pluck(:name).uniq.sort), { multiple: true } %>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
          <%= label_tag :class_number, Btp::Text.human_attribute_name(:class_number) + ' do trecho' %>
          <%= select_tag :class_number, options_for_select([]), { multiple: true } %>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
          <%= label_tag :year, Btp::Text.human_attribute_name(:year) + ' do trecho' %>
          <%= select_tag :year, options_for_select([]), { multiple: true } %>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
          <%= label_tag :region, Btp::Text.human_attribute_name(:region) + ' do trecho' %>
          <%= select_tag :region, options_for_select([]), { multiple: true } %>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
          <%= label_tag :acronym, Btp::Text.human_attribute_name(:acronym) + ' do trecho' %>
          <%= select_tag :acronym, options_for_select([]), { multiple: true } %>
        </div>
      </div>
      <div id='btp_bloc-search-errors'></div>
      <% unless @btp_blocs.empty? %>
        <% if @btp_blocs.size > 1 %>
          <div id='text-info'>Foram encontrados <%= @btp_blocs.size %> blocos.</div>
        <% else %>
          <div id='text-info'>Foi encontrado 1 bloco</div>
        <% end %>
      <% else %>
        <div id='text-info'></div>
      <% end %>
    </div>
    <div class='mdl-card__actions mdl-card--border'>
      <%= button_tag 'Buscar', class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
      <%= button_tag 'Limpar Busca', class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect',
            onclick: 'clearFields()', type: 'button' %>
      <%# TODO: add analysis %>
      <%#= link_to 'Análise', btp_analyses_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect disabled' %>
      <button type='button' class='mdl-button mdl-js-button mdl-button--icon' id='dwnld-tn-pdf' disabled>
        <i class='material-icons'>picture_as_pdf</i>
      </button>
    </div>
  </div>
  <div class='mdl-tooltip' data-mdl-for='dwnld-tn-pdf'>Baixar <strong>PDF</strong></div>
<% end %>
