<div class='paper-material mdl-card mdl-shadow--2dp'>
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> Nome: <%= @btp_bloc.name %> </h2>
  </div>
  <div class="mdl-card__menu card-menu-button">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect js-button" id="bloc_info">
      <i class="material-icons">info</i>
    </button>
    <div class="mdl-tooltip" data-mdl-for="bloc_info">Estatísticas</div>
  </div>
  <div class="mdl-card__supporting-text">
    <p> <strong>Bloco criado por:</strong> <%= @btp_bloc.user.name %> </p>
    <% if @btp_bloc.excerpts.count.positive? %>
      <%= render 'btp/blocs/partials/excerpts' %>
    <% else %>
      <h6> Ainda não existem textos relacionados com esse bloco. </h6>
    <% end %>
    <% if @btp_bloc.comments.count.positive? %>
      <%= render 'btp/blocs/partials/comments' %>
    <% else %>
      <h6> Ainda não existem comentários nesse bloco. </h6>
    <% end %>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <%= link_to t('links.edit'), edit_btp_bloc_path(@btp_bloc), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
    <%= link_to t('links.back'), btp_blocs_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="add-comment">
      Adicionar Comentário
    </button>
    <% if @btp_bloc.comments? || @btp_bloc.excerpts? %>
      <button class="mdl-button mdl-js-button mdl-button--icon" id="ttpdf" style="color: rgba(255,152,0, 0.9)" onclick="download_pdf()">
        <i class="material-icons">picture_as_pdf</i>
      </button>
    <% else %>
      <button class="mdl-button mdl-js-button mdl-button--icon"  disabled>
        <i class="material-icons" id="ttnopdf">picture_as_pdf</i>
      </button>
    <% end %>
  </div>
</div>
<div class="mdl-tooltip" data-mdl-for="ttpdf">
  Download <strong>PDF</strong>
</div>
<div class="mdl-tooltip" data-mdl-for="ttnopdf">
  A cor precisa ter um comentário ou um trecho associado para poder ser baixada
</div>
<%= render 'btp/blocs/dialogs/bloc_info' %>
