<% @associated_texts.each do |text| %>
<div class="card-text-accordion mdl-card mdl-shadow--2dp" >
  <div class="texts-accordeon">
    <h6 class="accordion" id="<%= text.id %>">
       <%= text.code %>
    </h6>
    <div class="accordion" >
      <div class="mdl-grid">
        <%= render 'words', words: @batale_definition.correct_words_for_text(text.id), right: true %>
        <%= render 'words', words: @batale_definition.wrong_words_for_text(text.id), right: false %>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= show_icon(text) %>
      </div>
    </div>
  </div>
</div>
<% end %>
