<%= form_for(batale_bloc) do |f| %>
  <%= render "shared/errors", obj: batale_bloc %>
  <div class="paper-material mdl-card mdl-shadow--2dp" style="padding: 10px 24px 10px 24px" >

    <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label full_size">
      <%= f.label :nome, class: "mdl-textfield__label", for: "input_nome" %>
      <%= f.text_field :nome, class: "mdl-textfield__input", id: "input_nome" %>
    </div>

    <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label full_size">
      <%= f.label :descricao, class: "mdl-textfield__label", for: "input_descricao" %>
      <%= f.text_field :descricao, class: "mdl-textfield__input", id: "input_descricao" %>
    </div>

    <div class="mdl-card__actions mdl-card--border" style="padding: 10px 0 0 0 ">
      <%= link_to 'Voltar', batale_blocs_path,
                  class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
      <%= f.submit "Salvar",
                  class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"%>
    </div>

  </div>
<% end %>
