<dialog id="dialog_more_info" class="mdl-dialog"style="width: 60%;">
  <h5 class="mdl-dialog__title">Mais informações</h5>
  <div class="mdl-dialog__content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <p>
          <strong>Sigla:</strong>
          <%= btoe_text.sigla %>
        </p>

        <p>
          <strong>Ano:</strong>
          <%= btoe_text.ano %>
        </p>

        <p>
          <strong>Pólo:</strong>
          <%= btoe_text.polo %>
        </p>

        <p>
          <strong>Turma:</strong>
          <%= btoe_text.turma %>
        </p>

        <p>
          <strong>Número da Professora:</strong>
          <%= btoe_text.numero_professora %>
        </p>
      </div>
    </div>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close">Ok</button>
  </div>
</dialog>
