<%= form_for(btoe_text) do |f| %>
  <% render 'shared/errors', obj: btoe_text %>
  <div class="paper-material mdl-card mdl-shadow--2dp" style="padding: 10px 24px 10px 24px">
    <div>
      <!--  ????
      <div class="field">
        <%= f.label :codigo_texto %>
        <%= f.text_field :codigo_texto %>
      </div>
      -->
      <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label medium_size">
        <%= f.label :sigla, class: "mdl-textfield__label", for: "input_sigla" %>
        <%= f.text_field :sigla, class: "mdl-textfield__input", id: "input_sigla" %>
      </div>

      <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label medium_size">
        <%= f.label :ano, class: "mdl-textfield__label", for: "input_ano" %>
        <%= f.number_field :ano, class: "mdl-textfield__input", id: "input_ano" %>
      </div>

      <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label medium_size">
        <%= f.label :polo, class: "mdl-textfield__label", for: "input_polo" %>
        <%= f.text_field :polo, class: "mdl-textfield__input", id: "input_polo" %>
      </div>

      <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label medium_size">
        <%= f.label :turma, class: "mdl-textfield__label", for: "input_turma" %>
        <%= f.number_field :turma, class: "mdl-textfield__input", id: "input_turma" %>
      </div>

      <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label medium_size">
        <%= f.label :numero_professora, class: "mdl-textfield__label", for: "input_numero_professora" %>
        <%= f.number_field :numero_professora, class: "mdl-textfield__input", id: "input_numero_professora" %>
      </div>

      <br>
      &nbsp;&nbsp;<%= f.file_field :image, id: "input_image" %>
    </div>

    <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label full_size">
      <%= f.label :texto_full, class: "mdl-textfield__label", for: "input_texto_full" %>
      <%= f.text_area :texto_full, class: "mdl-textfield__input", id: "input_texto_full" %>
    </div>

    <div class="mdl-card__actions mdl-card--border" style="padding-top: 16px">
      <%= link_to 'Voltar', 'javascript:history.go(-1);',
                  class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
      <%= f.submit "Salvar",
                  class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"%>
    </div>
  </div>
<% end %>
